#Model 2 : Decrease Number of Bins for APPLICATION_TYPE

## Preprocessing

In [67]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [68]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [69]:
# Look at data type of each variable/column again
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [70]:
# Look at unique values in each categorical variable again to see if I need to create more or fewer bins
application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]].nunique()
# It looks like we've already split the categorical variables with the most number of unique values, which are APPLICATION_TYPE and CLASSIFICATION
# into bins.

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

From eyeballing the buckets in the first notebook, it looks like CLASSIFICATION does not have an excessive number of buckets. I will decrease the number of buckets for APPLICATION_TYPE to 5

In [71]:
# Look at frequency counts for APPLICATION_TYPE again
# Order the value counts of APPLICATION TYPE by highest counts to lowest counts
application_df["APPLICATION_TYPE"].value_counts().sort_values(ascending=False)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [73]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < 1173].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     3331
T4        1542
T6        1216
T5        1173
Name: count, dtype: int64

In [74]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
# Use masking to obtain the entries in the CLASSIFICATION value counts which have counts > 1
# The conditional will produce an array/list of True/False values
# Indexing the frequency counts Series will produce frequency counts of values under CLASSIFICATION that are > 1
greater_1_fc = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]
greater_1_fc

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [75]:
# Get entries in CLASSIFICATION value counts list 1 that are less than 1918 based on the frequency count above = list(application_df["CLASSIFICATION"].value_counts() < 1918)
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1918].index)

In [76]:
# Same bins for CLASSIFICATION as first notebook
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [77]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [78]:
# Convert categorical data to numeric with `pd.get_dummies`
# Extract columns that represent categorical variables from original dataframe
categorical_df = application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']]
categorical_df = pd.get_dummies(categorical_df, dtype=int)
categorical_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [79]:
len(categorical_df.columns)

36

In [80]:
# Create new dataframe with dummy variables
# Copy of dataframe storing categorical columns
application_new_df = categorical_df.copy()
# Add noncategorical columns from original dataframe
application_new_df['STATUS'] = application_df['STATUS']
application_new_df['ASK_AMT'] = application_df['ASK_AMT']
application_new_df['IS_SUCCESSFUL'] = application_df['IS_SUCCESSFUL']

In [81]:
application_new_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,5000,1
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,108590,1
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
3,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,6692,1
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,142590,1

In [82]:
# Split our preprocessed data into our features and target arrays
y = application_new_df["IS_SUCCESSFUL"]
X = application_new_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [83]:
len(X_train.columns)

38

In [84]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model:

In [105]:
# NOTE: I'm keeping the model hyperparameters the same (same activation functions and same number of nodes in each layer as number of inputs), so I change one thing at a time
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  Input features: 38
#  Nodes for 1st layer: 38 (same as number of inputs)
#  Nodes for 2nd layer: Randomly pick 38
#  Nodes for output layer: 1
#  2 group classification functions: Linear, Tanh, Sigmoid?

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=38, activation="tanh", input_dim=38))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=38, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_3"

 Layer (type)                          Output Shape                         Param #

 dense_9 (Dense)                       (None, 38)                             1,482

 dense_10 (Dense)                      (None, 38)                             1,482

 dense_11 (Dense)                      (None, 1)                                 39

 Total params: 3,003 (11.73 KB)

 Trainable params: 3,003 (11.73 KB)

 Non-trainable params: 0 (0.00 B)

In [86]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [87]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  5s 2ms/step - accuracy: 0.6889 - loss: 0.6060
Epoch 2/100
804/804  1s 1ms/step - accuracy: 0.7194 - loss: 0.5733
Epoch 3/100
804/804  1s 1ms/step - accuracy: 0.7259 - loss: 0.5650
Epoch 4/100
804/804  1s 1ms/step - accuracy: 0.7194 - loss: 0.5671
Epoch 5/100
804/804  1s 1ms/step - accuracy: 0.7252 - loss: 0.5631
Epoch 6/100
804/804  1s 1ms/step - accuracy: 0.7267 - loss: 0.5594
Epoch 7/100
804/804  1s 1ms/step - accuracy: 0.7241 - loss: 0.5633
Epoch 8/100
804/804  1s 1ms/step - accuracy: 0.7221 - loss: 0.5628
Epoch 9/100
804/804  1s 1ms/step - accuracy: 0.7231 - loss: 0.5614
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.7253 - loss: 0.5625
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7246 - loss: 0.5641
Epoch 12/100
804/804  2s 1ms/step - accuracy: 0.7248 - loss: 0.5631
Epoch 13/100
804/804  1s 1ms/step - accuracy: 0.7218 - loss: 0.5628
Epoch 14/100
804/804  1s 1ms/step - accuracy: 0.7236 - loss: 0.5603
Epoch 15/100
804/804  1s 1ms/step - accuracy: 0.7267 - loss: 0.5587
Epoch 16/100
804/804  1s 1ms/step - accuracy: 0.7324 - loss: 0.5531
Epoch 17/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5563
Epoch 18/100
804/804  1s 1ms/step - accuracy: 0.7285 - loss: 0.5569
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.7228 - loss: 0.5600
Epoch 20/100
804/804  3s 2ms/step - accuracy: 0.7277 - loss: 0.5548
Epoch 21/100
804/804  2s 1ms/step - accuracy: 0.7313 - loss: 0.5530
Epoch 22/100
804/804  1s 1ms/step - accuracy: 0.7296 - loss: 0.5558
Epoch 23/100
804/804  1s 1ms/step - accuracy: 0.7309 - loss: 0.5530
Epoch 24/100
804/804  1s 1ms/step - accuracy: 0.7272 - loss: 0.5604
Epoch 25/100
804/804  1s 1ms/step - accuracy: 0.7278 - loss: 0.5582
Epoch 26/100
804/804  1s 1ms/step - accuracy: 0.7268 - loss: 0.5576
Epoch 27/100
804/804  1s 1ms/step - accuracy: 0.7272 - loss: 0.5569
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7271 - loss: 0.5565
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5535
Epoch 30/100
804/804  1s 1ms/step - accuracy: 0.7287 - loss: 0.5554
Epoch 31/100
804/804  1s 1ms/step - accuracy: 0.7296 - loss: 0.5550
Epoch 32/100
804/804  1s 1ms/step - accuracy: 0.7282 - loss: 0.5531
Epoch 33/100
804/804  1s 1ms/step - accuracy: 0.7347 - loss: 0.5500
Epoch 34/100
804/804  1s 1ms/step - accuracy: 0.7273 - loss: 0.5553
Epoch 35/100
804/804  1s 1ms/step - accuracy: 0.7304 - loss: 0.5539
Epoch 36/100
804/804  1s 1ms/step - accuracy: 0.7359 - loss: 0.5472
Epoch 37/100
804/804  1s 1ms/step - accuracy: 0.7330 - loss: 0.5515
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7332 - loss: 0.5542
Epoch 39/100
804/804  2s 1ms/step - accuracy: 0.7287 - loss: 0.5557
Epoch 40/100
804/804  1s 1ms/step - accuracy: 0.7320 - loss: 0.5505
Epoch 41/100
804/804  1s 1ms/step - accuracy: 0.7294 - loss: 0.5548
Epoch 42/100
804/804  1s 1ms/step - accuracy: 0.7322 - loss: 0.5520
Epoch 43/100
804/804  1s 1ms/step - accuracy: 0.7264 - loss: 0.5563
Epoch 44/100
804/804  1s 1ms/step - accuracy: 0.7292 - loss: 0.5534
Epoch 45/100
804/804  1s 1ms/step - accuracy: 0.7316 - loss: 0.5501
Epoch 46/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5545
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5500
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7339 - loss: 0.5514
Epoch 49/100
804/804  2s 1ms/step - accuracy: 0.7313 - loss: 0.5503
Epoch 50/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5546
Epoch 51/100
804/804  1s 1ms/step - accuracy: 0.7300 - loss: 0.5534
Epoch 52/100
804/804  1s 1ms/step - accuracy: 0.7342 - loss: 0.5493
Epoch 53/100
804/804  1s 1ms/step - accuracy: 0.7322 - loss: 0.5520
Epoch 54/100
804/804  1s 1ms/step - accuracy: 0.7287 - loss: 0.5505
Epoch 55/100
804/804  1s 2ms/step - accuracy: 0.7288 - loss: 0.5529
Epoch 56/100
804/804  1s 2ms/step - accuracy: 0.7340 - loss: 0.5485
Epoch 57/100
804/804  3s 2ms/step - accuracy: 0.7329 - loss: 0.5521
Epoch 58/100
804/804  2s 1ms/step - accuracy: 0.7339 - loss: 0.5492
Epoch 59/100
804/804  1s 1ms/step - accuracy: 0.7324 - loss: 0.5501
Epoch 60/100
804/804  1s 1ms/step - accuracy: 0.7302 - loss: 0.5519
Epoch 61/100
804/804  1s 1ms/step - accuracy: 0.7309 - loss: 0.5500
Epoch 62/100
804/804  1s 1ms/step - accuracy: 0.7297 - loss: 0.5526
Epoch 63/100
804/804  1s 1ms/step - accuracy: 0.7264 - loss: 0.5554
Epoch 64/100
804/804  1s 1ms/step - accuracy: 0.7315 - loss: 0.5512
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7280 - loss: 0.5553
Epoch 66/100
804/804  2s 2ms/step - accuracy: 0.7288 - loss: 0.5541
Epoch 67/100
804/804  2s 1ms/step - accuracy: 0.7358 - loss: 0.5472
Epoch 68/100
804/804  1s 1ms/step - accuracy: 0.7326 - loss: 0.5500
Epoch 69/100
804/804  1s 1ms/step - accuracy: 0.7348 - loss: 0.5467
Epoch 70/100
804/804  1s 1ms/step - accuracy: 0.7313 - loss: 0.5527
Epoch 71/100
804/804  1s 1ms/step - accuracy: 0.7307 - loss: 0.5502
Epoch 72/100
804/804  1s 1ms/step - accuracy: 0.7383 - loss: 0.5436
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7277 - loss: 0.5519
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7269 - loss: 0.5558
Epoch 75/100
804/804  1s 1ms/step - accuracy: 0.7322 - loss: 0.5503
Epoch 76/100
804/804  1s 1ms/step - accuracy: 0.7295 - loss: 0.5497
Epoch 77/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5523
Epoch 78/100
804/804  1s 1ms/step - accuracy: 0.7287 - loss: 0.5536
Epoch 79/100
804/804  1s 1ms/step - accuracy: 0.7360 - loss: 0.5481
Epoch 80/100
804/804  1s 1ms/step - accuracy: 0.7325 - loss: 0.5487
Epoch 81/100
804/804  1s 1ms/step - accuracy: 0.7334 - loss: 0.5480
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.7280 - loss: 0.5541
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7285 - loss: 0.5552
Epoch 84/100
804/804  2s 1ms/step - accuracy: 0.7290 - loss: 0.5506
Epoch 85/100
804/804  1s 1ms/step - accuracy: 0.7360 - loss: 0.5491
Epoch 86/100
804/804  1s 1ms/step - accuracy: 0.7331 - loss: 0.5476
Epoch 87/100
804/804  1s 1ms/step - accuracy: 0.7352 - loss: 0.5463
Epoch 88/100
804/804  1s 1ms/step - accuracy: 0.7281 - loss: 0.5508
Epoch 89/100
804/804  1s 1ms/step - accuracy: 0.7335 - loss: 0.5443
Epoch 90/100
804/804  1s 1ms/step - accuracy: 0.7334 - loss: 0.5469
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7331 - loss: 0.5484
Epoch 92/100
804/804  2s 1ms/step - accuracy: 0.7288 - loss: 0.5563
Epoch 93/100
804/804  1s 1ms/step - accuracy: 0.7317 - loss: 0.5489
Epoch 94/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5514
Epoch 95/100
804/804  1s 1ms/step - accuracy: 0.7325 - loss: 0.5496
Epoch 96/100
804/804  1s 1ms/step - accuracy: 0.7351 - loss: 0.5474
Epoch 97/100
804/804  1s 1ms/step - accuracy: 0.7316 - loss: 0.5502
Epoch 98/100
804/804  1s 1ms/step - accuracy: 0.7357 - loss: 0.5464
Epoch 99/100
804/804  1s 1ms/step - accuracy: 0.7343 - loss: 0.5483
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7300 - loss: 0.5529

In [88]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.7219 - loss: 0.5677
Loss: 0.5677312016487122, Accuracy: 0.7218658924102783

# Model 3 : Increase Number of Neurons in Hidden Layer

## Preprocessing

In [89]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [90]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [91]:
# Use the same number of bins for APPLICATION_TYPE as I did for the 1st notebook
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [129]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
# Use masking to obtain the entries in the CLASSIFICATION value counts which have counts > 1
# The conditional will produce an array/list of True/False values
# Indexing the frequency counts Series will produce frequency counts of values under CLASSIFICATION that are > 1
greater_1_fc = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]
greater_1_fc.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [94]:
# Use the same bins as I did for CLASSIFICATION as I did for the 1st notebook
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1918].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [95]:
# Convert categorical data to numeric with `pd.get_dummies`
# Extract columns that represent categorical variables from original dataframe
categorical_df = application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']]
categorical_df = pd.get_dummies(categorical_df, dtype=int)
categorical_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [96]:
# Create new dataframe with dummy variables
# Copy of dataframe storing categorical columns
application_new_df = categorical_df.copy()
# Add noncategorical columns from original dataframe
application_new_df['STATUS'] = application_df['STATUS']
application_new_df['ASK_AMT'] = application_df['ASK_AMT']
application_new_df['IS_SUCCESSFUL'] = application_df['IS_SUCCESSFUL']

In [97]:
application_new_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,108590,1
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,5000,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,6692,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,142590,1

In [98]:
# Split our preprocessed data into our features and target arrays
y = application_new_df["IS_SUCCESSFUL"]
X = application_new_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [99]:
len(X_train.columns)

42

In [100]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [101]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  Input features: 42
#  Nodes for 1st layer: 42 * 3 = 126
#  Nodes for 2nd layer: 126 (Same as first hidden layer arbitrarily)
#  Nodes for output layer: 1
#  2 group classification functions: Linear, Tanh, Sigmoid?

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=126, activation="tanh", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=126, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_6 (Dense)                       (None, 126)                            5,418

 dense_7 (Dense)                       (None, 126)                           16,002

 dense_8 (Dense)                       (None, 1)                                127

 Total params: 21,547 (84.17 KB)

 Trainable params: 21,547 (84.17 KB)

 Non-trainable params: 0 (0.00 B)

In [102]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [103]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  5s 2ms/step - accuracy: 0.7127 - loss: 0.5914
Epoch 2/100
804/804  1s 2ms/step - accuracy: 0.7227 - loss: 0.5663
Epoch 3/100
804/804  3s 2ms/step - accuracy: 0.7297 - loss: 0.5549
Epoch 4/100
804/804  1s 2ms/step - accuracy: 0.7286 - loss: 0.5569
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7297 - loss: 0.5547
Epoch 6/100
804/804  3s 2ms/step - accuracy: 0.7291 - loss: 0.5545
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7266 - loss: 0.5535
Epoch 8/100
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5492
Epoch 9/100
804/804  1s 2ms/step - accuracy: 0.7299 - loss: 0.5515
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.7332 - loss: 0.5486
Epoch 11/100
804/804  1s 2ms/step - accuracy: 0.7314 - loss: 0.5528
Epoch 12/100
804/804  2s 3ms/step - accuracy: 0.7351 - loss: 0.5449
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5425
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5424
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5456
Epoch 16/100
804/804  1s 2ms/step - accuracy: 0.7375 - loss: 0.5442
Epoch 17/100
804/804  1s 2ms/step - accuracy: 0.7319 - loss: 0.5445
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7338 - loss: 0.5453
Epoch 19/100
804/804  3s 4ms/step - accuracy: 0.7353 - loss: 0.5420
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5393
Epoch 21/100
804/804  1s 2ms/step - accuracy: 0.7305 - loss: 0.5468
Epoch 22/100
804/804  3s 2ms/step - accuracy: 0.7377 - loss: 0.5448
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7360 - loss: 0.5422
Epoch 24/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5440
Epoch 25/100
804/804  1s 2ms/step - accuracy: 0.7385 - loss: 0.5412
Epoch 26/100
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5439
Epoch 27/100
804/804  2s 3ms/step - accuracy: 0.7349 - loss: 0.5436
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5414
Epoch 29/100
804/804  3s 2ms/step - accuracy: 0.7327 - loss: 0.5449
Epoch 30/100
804/804  1s 2ms/step - accuracy: 0.7354 - loss: 0.5420
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.7310 - loss: 0.5473
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7343 - loss: 0.5391
Epoch 33/100
804/804  1s 2ms/step - accuracy: 0.7373 - loss: 0.5406
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7349 - loss: 0.5422
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5395
Epoch 36/100
804/804  1s 2ms/step - accuracy: 0.7363 - loss: 0.5448
Epoch 37/100
804/804  3s 2ms/step - accuracy: 0.7358 - loss: 0.5393
Epoch 38/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5391
Epoch 39/100
804/804  1s 2ms/step - accuracy: 0.7426 - loss: 0.5333
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7391 - loss: 0.5380
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.7326 - loss: 0.5464
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5370
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.7355 - loss: 0.5390
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5356
Epoch 45/100
804/804  1s 2ms/step - accuracy: 0.7398 - loss: 0.5379
Epoch 46/100
804/804  1s 2ms/step - accuracy: 0.7389 - loss: 0.5387
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.7325 - loss: 0.5432
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7438 - loss: 0.5309
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7329 - loss: 0.5448
Epoch 50/100
804/804  1s 2ms/step - accuracy: 0.7389 - loss: 0.5370
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5368
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.7362 - loss: 0.5401
Epoch 53/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5388
Epoch 54/100
804/804  2s 3ms/step - accuracy: 0.7394 - loss: 0.5381
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5350
Epoch 56/100
804/804  1s 2ms/step - accuracy: 0.7356 - loss: 0.5413
Epoch 57/100
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5433
Epoch 58/100
804/804  1s 2ms/step - accuracy: 0.7377 - loss: 0.5406
Epoch 59/100
804/804  1s 2ms/step - accuracy: 0.7341 - loss: 0.5401
Epoch 60/100
804/804  1s 2ms/step - accuracy: 0.7415 - loss: 0.5318
Epoch 61/100
804/804  1s 2ms/step - accuracy: 0.7337 - loss: 0.5413
Epoch 62/100
804/804  2s 3ms/step - accuracy: 0.7426 - loss: 0.5348
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7424 - loss: 0.5351
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.7417 - loss: 0.5327
Epoch 65/100
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5408
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5400
Epoch 67/100
804/804  1s 2ms/step - accuracy: 0.7366 - loss: 0.5409
Epoch 68/100
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5320
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7339 - loss: 0.5421
Epoch 70/100
804/804  1s 2ms/step - accuracy: 0.7390 - loss: 0.5395
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.7378 - loss: 0.5365
Epoch 72/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5395
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7384 - loss: 0.5386
Epoch 74/100
804/804  1s 2ms/step - accuracy: 0.7400 - loss: 0.5351
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5386
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7368 - loss: 0.5408
Epoch 77/100
804/804  1s 2ms/step - accuracy: 0.7394 - loss: 0.5358
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5343
Epoch 79/100
804/804  1s 2ms/step - accuracy: 0.7371 - loss: 0.5399
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.7370 - loss: 0.5393
Epoch 81/100
804/804  1s 2ms/step - accuracy: 0.7398 - loss: 0.5363
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7410 - loss: 0.5338
Epoch 83/100
804/804  1s 2ms/step - accuracy: 0.7417 - loss: 0.5339
Epoch 84/100
804/804  1s 2ms/step - accuracy: 0.7348 - loss: 0.5380
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5381
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.7444 - loss: 0.5302
Epoch 87/100
804/804  1s 2ms/step - accuracy: 0.7401 - loss: 0.5361
Epoch 88/100
804/804  1s 2ms/step - accuracy: 0.7373 - loss: 0.5391
Epoch 89/100
804/804  1s 2ms/step - accuracy: 0.7399 - loss: 0.5385
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.7373 - loss: 0.5356
Epoch 91/100
804/804  1s 2ms/step - accuracy: 0.7347 - loss: 0.5400
Epoch 92/100
804/804  1s 2ms/step - accuracy: 0.7336 - loss: 0.5369
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7418 - loss: 0.5329
Epoch 94/100
804/804  1s 2ms/step - accuracy: 0.7420 - loss: 0.5341
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5360
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5387
Epoch 97/100
804/804  3s 2ms/step - accuracy: 0.7336 - loss: 0.5382
Epoch 98/100
804/804  1s 2ms/step - accuracy: 0.7431 - loss: 0.5332
Epoch 99/100
804/804  3s 2ms/step - accuracy: 0.7414 - loss: 0.5347
Epoch 100/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5394

In [104]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7266 - loss: 0.5615
Loss: 0.5614814162254333, Accuracy: 0.7266472578048706

# Model 4 : Change the Activation Function of One or All Hidden Layers

## Preprocessing
### Not needed because I can use the same preprocessed data as Model 3

## Compile, Train and Evaluate the Model:

In [109]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  Input features: 42
#  Nodes for 1st layer: 42 (same as number of inputs)
#  Nodes for 2nd layer: Randomly pick 42
#  Nodes for output layer: 1
#  2 group classification functions: Linear, Tanh, Sigmoid?

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=42, activation="leaky_relu", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=42, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_5"

 Layer (type)                          Output Shape                         Param #

 dense_15 (Dense)                      (None, 42)                             1,806

 dense_16 (Dense)                      (None, 42)                             1,806

 dense_17 (Dense)                      (None, 1)                                 43

 Total params: 3,655 (14.28 KB)

 Trainable params: 3,655 (14.28 KB)

 Non-trainable params: 0 (0.00 B)

In [110]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [111]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  2s 1ms/step - accuracy: 0.6958 - loss: 0.5991
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7265 - loss: 0.5624
Epoch 3/100
804/804  2s 1ms/step - accuracy: 0.7319 - loss: 0.5513
Epoch 4/100
804/804  1s 1ms/step - accuracy: 0.7282 - loss: 0.5537
Epoch 5/100
804/804  1s 1ms/step - accuracy: 0.7297 - loss: 0.5537
Epoch 6/100
804/804  1s 1ms/step - accuracy: 0.7270 - loss: 0.5557
Epoch 7/100
804/804  1s 1ms/step - accuracy: 0.7283 - loss: 0.5533
Epoch 8/100
804/804  1s 1ms/step - accuracy: 0.7295 - loss: 0.5516
Epoch 9/100
804/804  1s 1ms/step - accuracy: 0.7293 - loss: 0.5526
Epoch 10/100
804/804  1s 1ms/step - accuracy: 0.7290 - loss: 0.5537
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7266 - loss: 0.5555
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7291 - loss: 0.5515
Epoch 13/100
804/804  2s 1ms/step - accuracy: 0.7368 - loss: 0.5477
Epoch 14/100
804/804  1s 1ms/step - accuracy: 0.7365 - loss: 0.5460
Epoch 15/100
804/804  1s 1ms/step - accuracy: 0.7328 - loss: 0.5516
Epoch 16/100
804/804  1s 1ms/step - accuracy: 0.7336 - loss: 0.5462
Epoch 17/100
804/804  1s 1ms/step - accuracy: 0.7336 - loss: 0.5442
Epoch 18/100
804/804  1s 1ms/step - accuracy: 0.7366 - loss: 0.5441
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5499
Epoch 20/100
804/804  3s 2ms/step - accuracy: 0.7342 - loss: 0.5487
Epoch 21/100
804/804  2s 1ms/step - accuracy: 0.7338 - loss: 0.5446
Epoch 22/100
804/804  1s 1ms/step - accuracy: 0.7343 - loss: 0.5478
Epoch 23/100
804/804  1s 1ms/step - accuracy: 0.7295 - loss: 0.5486
Epoch 24/100
804/804  1s 1ms/step - accuracy: 0.7374 - loss: 0.5445
Epoch 25/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5454
Epoch 26/100
804/804  1s 1ms/step - accuracy: 0.7353 - loss: 0.5429
Epoch 27/100
804/804  1s 1ms/step - accuracy: 0.7397 - loss: 0.5423
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5436
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5448
Epoch 30/100
804/804  2s 1ms/step - accuracy: 0.7402 - loss: 0.5414
Epoch 31/100
804/804  1s 1ms/step - accuracy: 0.7364 - loss: 0.5445
Epoch 32/100
804/804  1s 1ms/step - accuracy: 0.7351 - loss: 0.5429
Epoch 33/100
804/804  1s 1ms/step - accuracy: 0.7382 - loss: 0.5396
Epoch 34/100
804/804  1s 1ms/step - accuracy: 0.7325 - loss: 0.5469
Epoch 35/100
804/804  1s 1ms/step - accuracy: 0.7322 - loss: 0.5469
Epoch 36/100
804/804  1s 1ms/step - accuracy: 0.7381 - loss: 0.5421
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5434
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7423 - loss: 0.5370
Epoch 39/100
804/804  2s 1ms/step - accuracy: 0.7365 - loss: 0.5443
Epoch 40/100
804/804  1s 1ms/step - accuracy: 0.7355 - loss: 0.5435
Epoch 41/100
804/804  1s 1ms/step - accuracy: 0.7354 - loss: 0.5442
Epoch 42/100
804/804  1s 1ms/step - accuracy: 0.7408 - loss: 0.5383
Epoch 43/100
804/804  1s 1ms/step - accuracy: 0.7337 - loss: 0.5434
Epoch 44/100
804/804  1s 1ms/step - accuracy: 0.7401 - loss: 0.5395
Epoch 45/100
804/804  1s 1ms/step - accuracy: 0.7374 - loss: 0.5433
Epoch 46/100
804/804  1s 2ms/step - accuracy: 0.7312 - loss: 0.5444
Epoch 47/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5396
Epoch 48/100
804/804  2s 1ms/step - accuracy: 0.7378 - loss: 0.5413
Epoch 49/100
804/804  1s 1ms/step - accuracy: 0.7353 - loss: 0.5452
Epoch 50/100
804/804  1s 1ms/step - accuracy: 0.7363 - loss: 0.5397
Epoch 51/100
804/804  1s 1ms/step - accuracy: 0.7371 - loss: 0.5411
Epoch 52/100
804/804  1s 1ms/step - accuracy: 0.7391 - loss: 0.5388
Epoch 53/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5393
Epoch 54/100
804/804  1s 1ms/step - accuracy: 0.7336 - loss: 0.5447
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7339 - loss: 0.5441
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7342 - loss: 0.5410
Epoch 57/100
804/804  1s 1ms/step - accuracy: 0.7369 - loss: 0.5396
Epoch 58/100
804/804  1s 1ms/step - accuracy: 0.7350 - loss: 0.5445
Epoch 59/100
804/804  1s 1ms/step - accuracy: 0.7349 - loss: 0.5450
Epoch 60/100
804/804  1s 1ms/step - accuracy: 0.7342 - loss: 0.5456
Epoch 61/100
804/804  1s 1ms/step - accuracy: 0.7389 - loss: 0.5408
Epoch 62/100
804/804  1s 1ms/step - accuracy: 0.7422 - loss: 0.5354
Epoch 63/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5404
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7300 - loss: 0.5474
Epoch 65/100
804/804  2s 3ms/step - accuracy: 0.7347 - loss: 0.5425
Epoch 66/100
804/804  2s 1ms/step - accuracy: 0.7382 - loss: 0.5391
Epoch 67/100
804/804  1s 1ms/step - accuracy: 0.7402 - loss: 0.5389
Epoch 68/100
804/804  1s 1ms/step - accuracy: 0.7334 - loss: 0.5454
Epoch 69/100
804/804  1s 1ms/step - accuracy: 0.7374 - loss: 0.5368
Epoch 70/100
804/804  1s 1ms/step - accuracy: 0.7339 - loss: 0.5426
Epoch 71/100
804/804  1s 1ms/step - accuracy: 0.7389 - loss: 0.5400
Epoch 72/100
804/804  1s 1ms/step - accuracy: 0.7379 - loss: 0.5423
Epoch 73/100
804/804  1s 2ms/step - accuracy: 0.7393 - loss: 0.5367
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7412 - loss: 0.5357
Epoch 75/100
804/804  2s 1ms/step - accuracy: 0.7379 - loss: 0.5409
Epoch 76/100
804/804  1s 1ms/step - accuracy: 0.7346 - loss: 0.5455
Epoch 77/100
804/804  1s 1ms/step - accuracy: 0.7373 - loss: 0.5392
Epoch 78/100
804/804  1s 1ms/step - accuracy: 0.7385 - loss: 0.5405
Epoch 79/100
804/804  1s 1ms/step - accuracy: 0.7380 - loss: 0.5376
Epoch 80/100
804/804  1s 1ms/step - accuracy: 0.7339 - loss: 0.5446
Epoch 81/100
804/804  1s 1ms/step - accuracy: 0.7359 - loss: 0.5435
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5386
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5402
Epoch 84/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5349
Epoch 85/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5381
Epoch 86/100
804/804  1s 1ms/step - accuracy: 0.7340 - loss: 0.5443
Epoch 87/100
804/804  1s 1ms/step - accuracy: 0.7434 - loss: 0.5357
Epoch 88/100
804/804  1s 1ms/step - accuracy: 0.7346 - loss: 0.5409
Epoch 89/100
804/804  1s 1ms/step - accuracy: 0.7374 - loss: 0.5426
Epoch 90/100
804/804  1s 1ms/step - accuracy: 0.7357 - loss: 0.5427
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5361
Epoch 92/100
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5431
Epoch 93/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5402
Epoch 94/100
804/804  1s 1ms/step - accuracy: 0.7423 - loss: 0.5322
Epoch 95/100
804/804  1s 1ms/step - accuracy: 0.7380 - loss: 0.5404
Epoch 96/100
804/804  1s 1ms/step - accuracy: 0.7330 - loss: 0.5447
Epoch 97/100
804/804  1s 1ms/step - accuracy: 0.7349 - loss: 0.5427
Epoch 98/100
804/804  1s 1ms/step - accuracy: 0.7365 - loss: 0.5416
Epoch 99/100
804/804  1s 1ms/step - accuracy: 0.7339 - loss: 0.5435
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7392 - loss: 0.5380

In [112]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.7248 - loss: 0.5588
Loss: 0.5588364601135254, Accuracy: 0.724781334400177

# Model 5 : Combine all changes above (number of bins for APPLICATION_TYPE, number of Nodes for each hidden layer, activation Function)

## Preprocessing

In [113]:
# Read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [114]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [115]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < 1173].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     3331
T4        1542
T6        1216
T5        1173
Name: count, dtype: int64

In [128]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
# Use masking to obtain the entries in the CLASSIFICATION value counts which have counts > 1
# The conditional will produce an array/list of True/False values
# Indexing the frequency counts Series will produce frequency counts of values under CLASSIFICATION that are > 1
greater_1_fc = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]
greater_1_fc.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [117]:
# Get entries in CLASSIFICATION value counts list 1 that are less than 1918 based on the frequency count above = list(application_df["CLASSIFICATION"].value_counts() < 1918)
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1918].index)

In [118]:
# Same bins for CLASSIFICATION as first notebook
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [119]:
# Convert categorical data to numeric with `pd.get_dummies`
# Extract columns that represent categorical variables from original dataframe
categorical_df = application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']]
categorical_df = pd.get_dummies(categorical_df, dtype=int)
categorical_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [120]:
# Create new dataframe with dummy variables
# Copy of dataframe storing categorical columns
application_new_df = categorical_df.copy()
# Add noncategorical columns from original dataframe
application_new_df['STATUS'] = application_df['STATUS']
application_new_df['ASK_AMT'] = application_df['ASK_AMT']
application_new_df['IS_SUCCESSFUL'] = application_df['IS_SUCCESSFUL']

In [121]:
# Split our preprocessed data into our features and target arrays
y = application_new_df["IS_SUCCESSFUL"]
X = application_new_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [122]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [123]:
len(X_train.columns)

38

## Compile, Train and Evaluate the Model

In [124]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  Input features: 38
#  Nodes for 1st layer: 38 * 3 = 114
#  Nodes for 2nd layer: 114 (Same as first hidden layer arbitrarily)
#  Nodes for output layer: 1
#  2 group classification functions: Linear, Tanh, Sigmoid?

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=114, activation="leaky_relu", input_dim=38))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=114, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_6"

 Layer (type)                          Output Shape                         Param #

 dense_18 (Dense)                      (None, 114)                            4,446

 dense_19 (Dense)                      (None, 114)                           13,110

 dense_20 (Dense)                      (None, 1)                                115

 Total params: 17,671 (69.03 KB)

 Trainable params: 17,671 (69.03 KB)

 Non-trainable params: 0 (0.00 B)

In [125]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [126]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  5s 2ms/step - accuracy: 0.6963 - loss: 0.6030
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7149 - loss: 0.5747
Epoch 3/100
804/804  1s 2ms/step - accuracy: 0.7177 - loss: 0.5756
Epoch 4/100
804/804  1s 2ms/step - accuracy: 0.7201 - loss: 0.5687
Epoch 5/100
804/804  1s 2ms/step - accuracy: 0.7203 - loss: 0.5660
Epoch 6/100
804/804  1s 2ms/step - accuracy: 0.7255 - loss: 0.5639
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7225 - loss: 0.5627
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7242 - loss: 0.5645
Epoch 9/100
804/804  2s 1ms/step - accuracy: 0.7228 - loss: 0.5653
Epoch 10/100
804/804  1s 2ms/step - accuracy: 0.7253 - loss: 0.5614
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7291 - loss: 0.5596
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5535
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7222 - loss: 0.5637
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7251 - loss: 0.5582
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7191 - loss: 0.5662
Epoch 16/100
804/804  1s 2ms/step - accuracy: 0.7232 - loss: 0.5623
Epoch 17/100
804/804  2s 1ms/step - accuracy: 0.7273 - loss: 0.5606
Epoch 18/100
804/804  1s 2ms/step - accuracy: 0.7240 - loss: 0.5584
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.7262 - loss: 0.5606
Epoch 20/100
804/804  3s 2ms/step - accuracy: 0.7285 - loss: 0.5596
Epoch 21/100
804/804  2s 3ms/step - accuracy: 0.7242 - loss: 0.5595
Epoch 22/100
804/804  2s 1ms/step - accuracy: 0.7306 - loss: 0.5595
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7248 - loss: 0.5601
Epoch 24/100
804/804  1s 2ms/step - accuracy: 0.7282 - loss: 0.5586
Epoch 25/100
804/804  1s 2ms/step - accuracy: 0.7270 - loss: 0.5582
Epoch 26/100
804/804  1s 2ms/step - accuracy: 0.7297 - loss: 0.5562
Epoch 27/100
804/804  1s 2ms/step - accuracy: 0.7267 - loss: 0.5604
Epoch 28/100
804/804  1s 2ms/step - accuracy: 0.7263 - loss: 0.5593
Epoch 29/100
804/804  1s 2ms/step - accuracy: 0.7283 - loss: 0.5574
Epoch 30/100
804/804  3s 2ms/step - accuracy: 0.7306 - loss: 0.5530
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.7299 - loss: 0.5520
Epoch 32/100
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5556
Epoch 33/100
804/804  1s 2ms/step - accuracy: 0.7304 - loss: 0.5561
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7302 - loss: 0.5549
Epoch 35/100
804/804  2s 1ms/step - accuracy: 0.7296 - loss: 0.5515
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7299 - loss: 0.5548
Epoch 37/100
804/804  3s 2ms/step - accuracy: 0.7301 - loss: 0.5515
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7281 - loss: 0.5555
Epoch 39/100
804/804  1s 2ms/step - accuracy: 0.7241 - loss: 0.5580
Epoch 40/100
804/804  1s 2ms/step - accuracy: 0.7246 - loss: 0.5578
Epoch 41/100
804/804  1s 2ms/step - accuracy: 0.7284 - loss: 0.5544
Epoch 42/100
804/804  1s 2ms/step - accuracy: 0.7204 - loss: 0.5584
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.7292 - loss: 0.5558
Epoch 44/100
804/804  3s 3ms/step - accuracy: 0.7343 - loss: 0.5491
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7304 - loss: 0.5546
Epoch 46/100
804/804  2s 1ms/step - accuracy: 0.7271 - loss: 0.5555
Epoch 47/100
804/804  1s 2ms/step - accuracy: 0.7278 - loss: 0.5550
Epoch 48/100
804/804  1s 2ms/step - accuracy: 0.7272 - loss: 0.5580
Epoch 49/100
804/804  1s 2ms/step - accuracy: 0.7268 - loss: 0.5600
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5470
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5501
Epoch 52/100
804/804  3s 2ms/step - accuracy: 0.7256 - loss: 0.5573
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7257 - loss: 0.5561
Epoch 54/100
804/804  1s 2ms/step - accuracy: 0.7289 - loss: 0.5535
Epoch 55/100
804/804  1s 2ms/step - accuracy: 0.7325 - loss: 0.5497
Epoch 56/100
804/804  2s 1ms/step - accuracy: 0.7296 - loss: 0.5574
Epoch 57/100
804/804  1s 2ms/step - accuracy: 0.7275 - loss: 0.5555
Epoch 58/100
804/804  1s 2ms/step - accuracy: 0.7279 - loss: 0.5514
Epoch 59/100
804/804  3s 2ms/step - accuracy: 0.7291 - loss: 0.5554
Epoch 60/100
804/804  2s 1ms/step - accuracy: 0.7313 - loss: 0.5542
Epoch 61/100
804/804  1s 2ms/step - accuracy: 0.7285 - loss: 0.5556
Epoch 62/100
804/804  3s 1ms/step - accuracy: 0.7283 - loss: 0.5527
Epoch 63/100
804/804  1s 2ms/step - accuracy: 0.7316 - loss: 0.5534
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.7258 - loss: 0.5574
Epoch 65/100
804/804  1s 2ms/step - accuracy: 0.7304 - loss: 0.5518
Epoch 66/100
804/804  2s 3ms/step - accuracy: 0.7289 - loss: 0.5558
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7296 - loss: 0.5546
Epoch 68/100
804/804  1s 2ms/step - accuracy: 0.7299 - loss: 0.5524
Epoch 69/100
804/804  1s 2ms/step - accuracy: 0.7371 - loss: 0.5460
Epoch 70/100
804/804  1s 2ms/step - accuracy: 0.7275 - loss: 0.5543
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.7293 - loss: 0.5541
Epoch 72/100
804/804  1s 2ms/step - accuracy: 0.7249 - loss: 0.5555
Epoch 73/100
804/804  1s 2ms/step - accuracy: 0.7281 - loss: 0.5565
Epoch 74/100
804/804  1s 2ms/step - accuracy: 0.7303 - loss: 0.5488
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5492
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5513
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7293 - loss: 0.5531
Epoch 78/100
804/804  1s 1ms/step - accuracy: 0.7335 - loss: 0.5510
Epoch 79/100
804/804  1s 2ms/step - accuracy: 0.7279 - loss: 0.5568
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.7338 - loss: 0.5497
Epoch 81/100
804/804  1s 2ms/step - accuracy: 0.7305 - loss: 0.5520
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7280 - loss: 0.5546
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5515
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5494
Epoch 85/100
804/804  2s 1ms/step - accuracy: 0.7306 - loss: 0.5546
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.7331 - loss: 0.5508
Epoch 87/100
804/804  1s 2ms/step - accuracy: 0.7317 - loss: 0.5479
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7335 - loss: 0.5543
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7284 - loss: 0.5547
Epoch 90/100
804/804  1s 2ms/step - accuracy: 0.7298 - loss: 0.5536
Epoch 91/100
804/804  1s 2ms/step - accuracy: 0.7298 - loss: 0.5509
Epoch 92/100
804/804  2s 1ms/step - accuracy: 0.7338 - loss: 0.5510
Epoch 93/100
804/804  1s 2ms/step - accuracy: 0.7358 - loss: 0.5495
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7339 - loss: 0.5521
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5485
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7277 - loss: 0.5529
Epoch 97/100
804/804  1s 2ms/step - accuracy: 0.7339 - loss: 0.5455
Epoch 98/100
804/804  1s 2ms/step - accuracy: 0.7298 - loss: 0.5552
Epoch 99/100
804/804  1s 2ms/step - accuracy: 0.7268 - loss: 0.5548
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7306 - loss: 0.5509

In [127]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7197 - loss: 0.5672
Loss: 0.5672426223754883, Accuracy: 0.719650149345398